target/classes/flightsapitest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="6d84e444-d54c-4461-9c96-f2cb26d00c5e" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="1234" database="apisero" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="db3a2f35-3e62-4389-8ef9-e46ebf25ce55" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="getFlightsFlow" doc:id="2d024f42-97a6-42c1-98b6-affa572692fc" >
		<http:listener doc:name="Listener" doc:id="f49d7a3c-0e9c-42c8-8b22-fb22d77347c5" allowedMethods="GET" config-ref="HTTP_Listener_config" path="/flights"/>
		<logger level="INFO" doc:name="Logger" doc:id="98da50cf-d451-4ba0-babd-614321a8e1a4" message="**Start of getFlights Flow**"/>
		<db:select doc:name="Select" doc:id="b4f8a6ca-29e4-43f1-a9b0-55e9d9e8b7e1" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from Flights]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="977984f7-0897-4822-b670-930ba3c9846b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d2d97999-2bf3-4222-8624-f762488bdb86" message="**End of getFlights Flow**"/>
	</flow>
	<flow name="postFlightsFlow" doc:id="f0ab6abd-9850-41d1-9af7-a1b0482c8ea4" >
		<http:listener doc:name="Listener" doc:id="2def4ab5-809f-4170-bd17-81f8c302acb6" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="d68768cc-44e2-4e80-8feb-5dae2059aaa9" />
		<db:insert doc:name="Insert" doc:id="eb87d7be-1d48-45c4-ba55-caf6f70be7eb" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into Flights(F_ID,F_NAME,F_DEST,F_PRICE,F_EMPTYSEAT) values (:id,:name,:dest,:price,:emptySeats);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
    "id":payload.id,
    "name": payload.name,
    "dest": payload.dest,
    "price": payload.price,
    "emptySeats": payload.emptySeats
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="a14fc199-7b64-4d1a-8cae-172645c1330a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"Record added successfully!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="804fed7e-ba66-4864-9a3e-22a8cd42df70" />
	</flow>
</mule>
